@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');


.CharPage {
  min-width: 380px;
  max-width: 1600px;
  width: 100%;
  text-align: center;
  background-color: #2d2d2e;
  color: #F8C471;
  font-family: 'Commissioner', sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.CharPage .horizontal-container {
  display: flex;
}

.CharPage .container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 2%;
  align-items: center;
}

.CharPage .image-container img {
  display:block;
  height:auto;
  width: 100%;
  filter: grayscale();
  object-fit: contain;
}

.CharPage .image-container {
  max-height: 90vh;
  align-self: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.CharPage .main-info {
  text-shadow: 2px 2px 2px #101213;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F8C471;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CharPage .hp, .sp, .mp {
  box-shadow: 0 0 2px #72572c;
  border-style: solid;
  width: 6em;
  margin-bottom: .4em;
}

.CharPage .hp {
  background: linear-gradient(90deg, rgba(56,7,7,1) 0%, rgba(121,9,9,1) 50%, rgba(56,7,7,1) 100%);
}
  
.CharPage .mp {
  background: linear-gradient(90deg, rgba(5,9,48,1) 0%, rgba(27,33,122,1) 50%, rgba(5,9,48,1) 100%);
}
  
.CharPage .sp {
  background: linear-gradient(90deg, rgba(5,41,6,1) 0%, rgba(24,122,33,1) 50%, rgba(5,41,6,1) 100%);
}


.CharPage .mundus, .Skills {
  width: 96%;
  max-width: 600px;
  background-color: #101213ea;
  margin-top: 20px;
  padding: 10px;
  border: solid 1px #F8C471;
  border-radius: 6px;
}

.CharPage .mundus {
  background: url("../images/mundus-bg.png") #0d0f0f;
  background-position:50% 50%;  /* Sets reference point to scale from */
  background-size:cover; 
}

.CharPage .mundus p {
  font-family: 'Redressed', cursive;
  font-size: 2rem;
}

.Skills {
  display: flex;
  justify-content: center;
}

.Skills ul {
  list-style: none;
  display: flex;
  margin-top: 20px;
  padding: 0;
}

.Skills li {
  position: relative;
  margin: 4px;
}

.Skills ul img {
  max-width: 100%;
  min-width: 50%;
  pointer-events: none;
}

.Skills .description {
  position: absolute;
  bottom: 102%;
  left: -50%;
  display: none;
  min-width: 300px;
  background-color: #1b1b1b;
  padding: 10px;
  border: solid 1px #F8C471;
  border-radius: 4px;
}

.Skills .description p.name {
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid 1px #F8C471;
  padding-bottom: 4px;
}

.Skills li.hover .description {
  display: block;
}

.Skills .description span.physical {
  color: red;
}

.Skills .description span.disease {
  color: rgb(85, 146, 5);
}

.Armory {
  background-color: #101213;
  margin-top: 10px;
  padding: 10px;
  width: 45%;
  margin: 2%;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.Armory ul {
  list-style: none;
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Armory ul li {
  padding: 1em 0;
  border-bottom: 1px solid #F8C471;
  cursor: pointer;
  flex-grow: 1;
}

.Armory ul li p {
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.Armory ul li p span {
  width: 20%;
}

.Armory ul li p span.armor {
  width: 60%;
}

.Armory ul li .location {
  visibility: hidden;
  margin: 0;
  height: 0;
  line-height: 2.5em;
  padding-top: 0.5em;
  transition: height 0.5s, visibility 0.2s;
}

.Armory ul li.active .location {
  height: 3em;
  visibility: visible;
  line-height: 2.5em;
}


.Champion {
  display: flex;
  flex-wrap: wrap;
  margin-right: 2%;
  margin-left: 2%;
  min-width: 380px;
  width: 100%;
  justify-content: center;
}

.Champion .tree {
  min-width: 380px;
  max-width: 700px;
  margin: 20px;
  border-radius: 4px;
  flex: 1; 
}

.Champion .warfare {
  background: center no-repeat url("../images/warfare-eso-constellations-wiki-guide.jpg");
}
.Champion .fitness {
  background: center no-repeat url("../images/fitness-eso-constellations-wiki-guide2.jpg");
}
.Champion .craft {
  background: center no-repeat url("../images/craft-eso-constellations-wiki-guide.jpg");
}

.Champion ul {
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.Champion li {
  padding: 10px;
  background-color: #0a0c0cf1;
  margin: 8px;
  display: flex;
  border-radius: 2px;
  /* margin-left: 12px;
  margin-right: 12px; */
  /* border-bottom: solid 1px #F8C471; */
}

.Champion li span:first-of-type {
  width: 70%;
}

.Champion li span:last-of-type {
  width: 30%;
}

@media (max-width: 1280px) {
  .CharPage .horizontal-container {
    flex-direction: column;
  }

  .CharPage .container, .Armory {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }

  .Armory {
    margin-top: 20px;
    max-width: 700px;
  }

  .Armory ul li p span {
    width: 25%;
  }
  
  .Armory ul li p span.armor {
    width: 50%;
  }

  .Skills ul {
    position: relative;
    max-width: 100%;
  }
  
  .Skills li {
    position: static;
    margin: 2px;
  }
  
  .Skills .description {
    left: 0%;
  }

  .Champion {
    max-width: 96%;
  }
}