@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');

.CharPage {
  min-width: 320px;
  max-width: 1600px;
  text-align: center;
  background-color: #2d2d2e;
  color: #F8C471;
  font-family: 'Commissioner', sans-serif;
  display: flex;
  margin: auto;
}

.CharPage .container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 2%;
}

.CharPage img {
  display:block;
  height:auto;
  width: 100%;
  filter: grayscale();
  object-fit: contain;
}

.CharPage .image-container {
  max-height: 90vh;
  align-self: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.CharPage .main-info {
  text-shadow: 2px 2px 2px #101213;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F8C471;
  padding: .5rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CharPage .hp, .sp, .mp {
  box-shadow: 0 0 1px #F8C471;
  border-style: solid;
  width: 6em;
  margin-bottom: .4em;
}

.CharPage .hp {
  background: linear-gradient(90deg, rgba(56,7,7,1) 0%, rgba(121,9,9,1) 50%, rgba(56,7,7,1) 100%);
}
  
.CharPage .mp {
  background: linear-gradient(90deg, rgba(5,9,48,1) 0%, rgba(27,33,122,1) 50%, rgba(5,9,48,1) 100%);
}
  
.CharPage .sp {
  background: linear-gradient(90deg, rgba(5,41,6,1) 0%, rgba(24,122,33,1) 50%, rgba(5,41,6,1) 100%);
}

.Armory {
  background-color: #101213;
  margin-top: 10px;
  padding: 10px;
  width: 45%;
  margin: 2%;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.Armory ul {
  list-style: none;
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Armory ul li {
  padding: 1em 0;
  border-bottom: 1px solid #F8C471;
  cursor: pointer;
}

.Armory ul li p {
  pointer-events: none;
}


.Armory ul li .location {
  visibility: hidden;
  margin: 0;
  height: 0;
  line-height: 2.5em;
  padding-top: 0.5em;
  transition: height 0.5s, visibility 0.2s;
}

.Armory ul li.active .location {
  height: 3em;
  visibility: visible;
  line-height: 2.5em;
}

@media (max-width: 800px) {
  .CharPage {
    flex-direction: column;
  }

  .CharPage .container, .Armory {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
}